.grid1 {
  display: grid;
  width: 100vw;
  margin: 0 auto;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-gap: 5px 5px;
  
  grid-template-areas: "header   header   header"
                       "main     main     main"
                       "footer   footer   footer";
}

/* items */



/* specific item styles */

.item1 {
  grid-area: header;
  height: 60px;
  width: 100%;
}
.item2 {
  grid-area: main;
  }
.item3 {
  background-color: black;
    grid-area: footer;
    width: 100vw;
    height: auto;
}


